/* *{
    font-family: monospace;
} */

input{
    
    background-color: #21252900 !important;
    border:none;
    outline: none;
    color: white !important;
    font-size: 12px;
    border-bottom: 1px solid #ffffff8a;
    height: 37px;
    width: 250px;
    
}
input::placeholder{
    color: #ffffff8a;
}
.logo{
    background-image: url("../signup/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin-right: 170px;
}
.logo-container{
    display: flex;
    height: 197px;
    justify-content: space-between;
    margin: 0 50px;
}
.back-link{
    color: #ffffff8a;
    padding: 86px 0;
}
.back-link button{
    border: none;
    background-color: #ffffff00;
    color: #ffffff8a;
}
.back-link span{
    margin-right: 6px;
}
.sign-btn{
    display: flex;
    align-items: center;
}
.sign-btn button{
    border: none;
    background-color: #00000061;
    color: #ffffff8f;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: block;
}
.signUp-btn{
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top:15px;
    transition: 0.3s;
    
}
.signUp-btn:hover{
    background-color: #ffffff94;
}
.bg-img{
    background-image: url("../signup/warren-wong-fNUNt9w3m-Q-unsplash.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.text-white{
    height: 20px;
}
.form-container{
    background-color: #1d21244d;
    height: inherit;

}
/* .inp-form{
    background-color: #1d21244d;
    border-radius: 15px;
} */
.sign-up-text{
    border-radius: 15px 0 0 0;
    cursor: pointer;
}
.sign-in-text:hover{
    background-color: white ;
    cursor: pointer;
    color: black !important;
    transition: 0.3s;
    border-radius: 0 15px 0 0;
}
.sign-in-text-active{
    color: white !important;
}
.link{
    color: #ffffff8a;
}
.link:hover{
    color: #ffffff8a;
    text-decoration-line: none;

}